storage:
  postgres:
    postgres_db:
      username:
        env: DAGSTER_POSTGRES_USER
      password:
        env: DAGSTER_POSTGRES_PASSWORD
      hostname: dagster_postgresql
      db_name:
        env: DAGSTER_POSTGRES_DB
      port: 5432

run_launcher:
  module: dagster_docker
  class: DockerRunLauncher
  config:
    image: ore_user_code_image
    env_vars:
      - DAGSTER_POSTGRES_USER
      - DAGSTER_POSTGRES_PASSWORD
      - DAGSTER_POSTGRES_DB
      - DAGSTER_HOME
    networks:
      - ore_network
    container_kwargs:
      auto_remove: True
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock  # local WSL - change to /run/user/380028/docker.sock on server
        - /your/local/path/to/TEDISC-Dagster:/opt/dagster/app  # set to USER_CODE_PATH value from your .env
        - ore_dagster_storage:/opt/dagster/dagster_home/storage
        - ore_compute_logs:/opt/dagster/dagster_home/compute_logs

run_coordinator:
  module: dagster.core.run_coordinator
  class: QueuedRunCoordinator

compute_logs:
  module: dagster.core.storage.local_compute_log_manager
  class: LocalComputeLogManager
  config:
    base_dir: /opt/dagster/dagster_home/compute_logs

local_artifact_storage:
  module: dagster.core.storage.root
  class: LocalArtifactStorage
  config:
    base_dir: /opt/dagster/dagster_home/storage